div.lightgrey{
    background-color: lightgrey;
    border: solid 1px;
    width: 350px;
    margin: 50px;
    
}
div.grey{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    padding: 20px;
    border: solid 4px rgb(77, 77, 77);
    margin: 20px;
    text-align: center;
    font-size: xx-large;
    border-radius: 30px;
    width: 350px;

}
div.red{
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: solid 4px rgb(77, 77, 77);
    margin: 20px;
    text-align: center;
    font-size: xx-large;
    border-radius: 30px;
    width: 350px;
}
div.green{
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: solid 4px rgb(77, 77, 77);
    margin: 20px;
    text-align: center;
    font-size: xx-large;
    width: 350px;
}
div.blue{
    background-color: blue;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: solid 4px rgb(77, 77, 77);
    margin: 20px;
    text-align: center;
    font-size: xx-large;
    border-radius: 30px;
    width: 350px;
}
div.yellow{
    background-color: rgb(248, 213, 11);
    color:rgb(255, 255, 255);
    padding: 20px;
    border: solid 4px rgb(77, 77, 77);
    margin: 20px;
    text-align: center;
    font-size: xx-large;
    border-radius: 30px;
    width: 350px;
}