body {
    margin-left: 20px;
}

    
.card {
    width: 500px;
    background-color: rgb(224, 219, 219);
    border: 1px solid darkgrey;
    margin: 10px;
}


.innerCard:empty {
    display: none;
}
.innerCard {
    padding: 10px;
    margin: 10px;
}

.header {
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 1% 0;
    user-select: none;
    border: 1px solid rgb(95, 94, 94) ;

}

.green {
    background-color: rgb(26, 172, 26);
}

.yellow {
    background-color: #f4c20d;
}

.red {
    background-color: rgb(245, 58, 58);
}

.blue{
    background-color: rgb(52, 52, 255);
}

.dark {
    background-color: rgb(34, 33, 33);
}
